{{> nav/navbar}}

	<div class="grader-Wrapper">
		<div class="container">
		<div class="yourRezults">
			<h1>Your Results</h1>
		</div>
			<p>{{budgetResults.name}}</p>
			<p>{{budgetResults.month}}</p>
			<p>Take Home: {{budgetResults.takehome}}</p>
			<p>Frequency of Pay: {{budgetResults.frequency}}</p>
			
			<p>food totals: {{budgetResults.foodTotal}}</p>
			<p>food grade: {{budgetResults.foodGrade}}</p>
	
			<p>Clothing Totals: {{budgetResults.clothingTotal}}</p>
			<p>Clothing Grade: {{budgetResults.clothingGrade}}</p>

			<p>Utilities Total: {{budgetResults.utilitiesTotal}}</p>
			<p>Utilities Grade: {{budgetResults.utilitiesGrade}}</p>

			<p>{{budgetResults.housingTotal}}</p>
			<p>{{budgetResults.housingGrade}}</p>
			<p>Savings Total: {{budgetResults.savingsTotal}}</p>
			<p>Savings Grade: {{budgetResults.savingsGrade}}</p>
			<p>{{budgetResults.medicalTotal}}</p>
			<p>{{budgetResults.medicalGrade}}</p>
			<p>{{budgetResults.insuranceTotal}}</p>
			<p>{{budgetResults.insuranceGrade}}</p>
			<p>{{budgetResults.transportationTotal}}</p>
			<p>{{budgetResults.transportationGrade}}</p>
			<p>{{budgetResults.personalTotal}}</p>
			<p>{{budgetResults.personalGrade}}</p>
			<p>{{budgetResults.entertainmentTotal}}</p>
			<p>{{budgetResults.entertainmentGrade}}</p>
			<p>{{budgetResults.debtTotal}}</p>
			<p>{{budgetResults.debtGrade}}</p>
		</div>
	</div>
	

{{> nav/budgetFooter}}