
{{> nav/navbar}}

	<div class="grader-Wrapper">
		<div class="container">
			<h1>Your Results</h1>
			<p>{{budgetResults.id}}</p>
			<p>{{budgetResults.month}}</p>
			<p>{{budgetResults.takehome}}</p>
			<p>{{budgetResults.frequency}}</p>
			<p>{{budgetResults.groceries}}</p>
			<p>{{budgetResults.eatingout}}</p>
			<p>{{budgetResults.clothingAdult}}</p>
			<p>{{budgetResults.clothingKids}}</p>
			<p>{{budgetResults.dryCleaning}}</p>
			<p>{{budgetResults.electricity}}</p>
			<p>{{budgetResults.mobilePhone}}</p>
			<p>{{budgetResults.gas}}</p>
			<p>{{budgetResults.trash}}</p>
			<p>{{budgetResults.water}}</p>
			<p>{{budgetResults.internet}}</p>
			<p>{{budgetResults.internet}}</p>
			<p>{{budgetResults.cable}}</p>

		</div>
	</div>
	

{{> nav/budgetFooter}}