
{{> nav/navbar}}

	<div class="grader-Wrapper">
		<div class="container">
			<h1>Your Results</h1>
			<p>{{this.id}}</p>
			<p>{{month}}</p>
			<p>{{takehome}}</p>
			<p>{{frequency}}</p>
			<p>{{groceries}}</p>
			<p>{{eatingout}}</p>
			<p>food totals: {{this.foodTotal}}</p>
			<p>{{clothingAdult}}</p>
			<p>{{clothingKids}}</p>
			<p>{{dryCleaning}}</p>
			<p>{{electricity}}</p>
			<p>{{mobilePhone}}</p>
			<p>{{gas}}</p>
			<p>{{trash}}</p>
			<p>{{water}}</p>
			<p>{{internet}}</p>
			<p>{{internet}}</p>
			<p>{{cable}}</p>

		</div>
	</div>
	<script type="text/javascript" src="/javascript/graderResults.js"></script>
	

{{> nav/budgetFooter}}